.App {
  align-self: center;
  align-content: center;
  /* text-align: center; */
  /* background-color: orange; */
  max-width: 900px;
  height: 100%;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.Title {
  text-align: center;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: 900;

  color: whitesmoke;
  margin-top: 0px;
  margin-bottom: 0px;
}
.TitleLoggedOut {
  font-size: 50pt;
  background-color: #6c757d;
  margin-top: 0px;
  margin-bottom: 0px;
}

.TitleLoggedIn {
  font-size: 50pt;
  background-color: rgb(116, 48, 48);
  margin-top: 0px;
  margin-bottom: 0px;
}

.NavBar {
  background-color: #6c757d;
  margin-top: 5px;
  display: flex;
}
.RightHandSideNavBar {
  align-content: flex-end;
}
