.App {
  justify-self: center;
  align-self: center;
  align-content: center;
  margin: 0px;
  width: 900px;
  height: 100vh;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.Head {
  align-self: center;
  align-content: center;

  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

  display: grid;
  grid-template: 1fr/1fr;
  grid-template-areas:
    "top"
    "middle";

  grid-template-rows: 90px 40px;
  text-align: center;
  border: none;
}
.Router {
  align-self: center;
  align-content: center;

  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

  display: grid;
  grid-template: 1fr;
  grid-template-areas: "bottom";

  grid-template-rows: 1fr;
  text-align: center;
  border: none;
}

.Title {
  position: sticky;
  grid-area: top;
  text-align: center;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: 900;
  color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 0px;
  height: 86px;
}
.TitleLoggedOut {
  grid-area: top;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 50pt;
  background-color: #6c757d;
  margin-top: 0px;
  margin-bottom: 0px;
}

.TitleLoggedIn {
  grid-area: top;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 50pt;
  background-color: rgb(116, 48, 48);
  margin-top: 0px;
  margin-bottom: 0px;
}

.NavBar {
  position: sticky;
  grid-area: middle;
  display: flex;
  background-color: #6c757d;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 6px;
  margin-bottom: 0px;
  height: 40px;
}
.RightHandSideNavBar {
  display: flex;
  vertical-align: middle;
}

.HomeButton {
  display: flex;
  border-right: solid 1px whitesmoke;
}

.UserPage {
  display: flex;
  border-left: solid 1px whitesmoke;
}

.newTopicButton {
  display: flex;
  border-left: solid 1px whitesmoke;
}

.newArticleButton {
  display: flex;
  border-left: solid 1px whitesmoke;
}

.LogOut {
  display: flex;
  border-left: solid 1px whitesmoke;
}

.LogIn {
  display: flex;
  border-left: solid 1px whitesmoke;
}

.SignInPage {
  display: flex;
  height: 80px;
  justify-content: center;
  margin-top: 20px;

  grid-area: bottom;
  background-color: white;
}

.SignInForm {
  display: flex;
}
.HomeView {
  grid-area: bottom;
  display: grid;
  grid-template: 50px 100% /1fr;
  grid-template-areas:
    "topHomeView "
    "bottomHomeView";
}

.SortBySelector {
  grid-area: topHomeView;
  margin: 5px;
  margin-top: 10px;
}
.AllArticles {
  grid-area: bottomHomeView;
  display: flex;
}

.individualArticleCards:hover {
  background-color: white;
}
.individualArticleCards {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: 900;
  font-size: 10pt;
  width: 290px;
  font-display: #6c757d;
  list-style-type: none;
  background-color: white;
  /* border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  border-left: 1px solid #6c757d;
  border-right: 1px solid #6c757d; */
  /* border-radius: 5px; */
  /* border-style: 5px/ 1px/ 5px/ 1px solid#6c757d; */
  padding: 10px;
  margin: 5px;
  box-shadow: 5px 5px #888888;
}
ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.topicButton:hover {
  background-color: redwhite;
}
.topicButton {
  margin: 5px;
}
.UserPageView {
  grid-area: bottom;
  display: grid;
  object-fit: contain;
  grid-template: 420px 1fr / 1fr;
  grid-template-areas:
    "topUserPageView"
    "bottomUserPageView";
  /* grid-template-rows: 400px 1fr; */
}
.UserArticles {
  background-color: white;

  grid-area: bottomUserPageView;
}
.UserInfoCard {
  background-color: white;

  grid-area: topUserPageView;
  display: grid;
  grid-template: 300px 1fr/1fr 1fr;
  grid-template-areas:
    "topleftUserInfoCard toprightUserInfoCard"
    "bottomleftUserInfoCard bottomrightUserInfoCard";
  /* grid-template-rows: 300px 1fr; */
  border-bottom: solid #6c757d 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.imageContainer {
  align-content: center;
  grid-area: topleftUserInfoCard;
  border-bottom: dotted #6c757d 2px;
}

.UserAvatar {
  margin: 0px;
  padding: 10px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.Chartcard {
  grid-area: toprightUserInfoCard;
  margin: 0px;
  border-bottom: dotted #6c757d 2px;
  border-left: dotted #6c757d 2px;
}
.UserPersonalDetails {
  margin: 0px;
  align-content: center;
  grid-area: bottomleftUserInfoCard;
}
.UserStats {
  margin: 0px;
  border-left: dotted #6c757d 2px;
  grid-area: bottomrightUserInfoCard;
}

/* .UserPageView {
  grid-area: bottom;
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas:
    "topUserPageView"
    "bottomUserPageView";
  grid-template-rows: 300px 1fr;
} */

.SingleArticleView {
  grid-area: bottom;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: "leftSingleArticleView rightSinglaArticleView";
}

.SingleArticleCard {
  grid-area: leftSingleArticleView;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: 900;
  font-size: 10pt;

  font-display: #6c757d;
  list-style-type: none;
  background-color: white;

  padding: 10px;
  margin: 5px;
  box-shadow: 5px 5px #888888;
}

.individualCommentsCards {
  grid-area: leftSingleArticleView;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: 900;
  font-size: 10pt;
  width: 100%;
  font-display: #6c757d;
  list-style-type: none;
  background-color: white;

  padding: 10px;
  margin: 5px;
  box-shadow: 5px 5px #888888;
}

.AllCommentsCard {
  grid-area: rightSinglaArticleView;
}

.deletebutton {
  float: right;
  overflow: auto;
}

.votebutton {
  float: left;
  overflow: auto;
}

.postbutton {
  float: right;
  overflow: auto;
}

.articlebutton {
  float: middle;
  overflow: auto;
}

h4 {
  color: black;
  margin-bottom: 0px;
}

h5 {
  color: black;
  margin-bottom: 0px;
}
.articledetails {
  color: black;
  margin-bottom: 0px;
}

.tinytext {
  font-size: 10pt;
  color: #6c757d;
  margin-bottom: 0px;
}
.tinytextblack {
  font-size: 10pt;
  color: black;

  text-align: left;
  margin: 1px 3px 1px 0px;
}

.UserName {
  margin-bottom: 0px;
}
.tinytextblackcentral {
  font-size: 10pt;
  color: black;

  text-align: center;
  margin: 1px 3px 1px 0px;
}
